<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>
	ChalTrojan2</display-name>
	<welcome-file-list>
		<welcome-file>Hello</welcome-file>
		<!--  welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file-->
	</welcome-file-list>	
	<resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/testDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    </resource-ref>
	<servlet>
		<description>
		</description>
		<display-name>Hello</display-name>
		<servlet-name>Hello</servlet-name>
		<servlet-class>	controller.Hello</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		SignIn</display-name>
		<servlet-name>SignIn</servlet-name>
		<servlet-class>
		controller.SignIn</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CreateTrip</display-name>
		<servlet-name>CreateTrip</servlet-name>
		<servlet-class>
		controller.CreateTrip</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		GetTrips</display-name>
		<servlet-name>GetTrips</servlet-name>
		<servlet-class>
		controller.GetTrips</servlet-class>
	</servlet>
  <servlet-mapping>
  	<servlet-name>Hello</servlet-name>
  	<url-pattern>/Hello</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignIn</servlet-name>
  	<url-pattern>/SignIn</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateTrip</servlet-name>
  	<url-pattern>/CreateTrip</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetTrips</servlet-name>
  	<url-pattern>/GetTrips</url-pattern>
  </servlet-mapping>
</web-app>
